body{
    margin: 0px;
    background-color: rgb(233, 139, 188);
}
main{
    margin-left: 20px;
    margin-right: 20px;
}

.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 0%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    margin-left: 20%;
}
.navbar a:hover{
    background-color: hsl(305, 82%, 69%);
    width: 90%;
}
.navbar li{
    float: left;
    margin-left: 10%;

}

.boxes{
    display: flex;
    
    
}
#whole{
  background-color: rgb(230, 249, 135);  
  font-family: 'PT Sans Narrow', sans-serif;
}


.box1{
    margin-left: 3%;
}
.box2{
    margin-left: 3%;
}
.box3{
    margin-left: 3%;
}
.box4{
    margin-left: 3%;
}


.para{
    padding-right: 10%;
    padding-left: 10%;
    
}
footer{
    text-align: center;
}